Flask
flask
flask-cors
Flask-RESTful
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
pymysql
SQLAlchemy
nltk
vaderSentiment
python-dotenv
beautifulsoup4
requests
pandas
numpy
scikit-learn
yfinance
PyJWT
matplotlib
plotly
pytest
gunicorn
dotenv
beautifulsoup4
requests
vaderSentiment